---
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coding standarts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/default.min.css">
  </head>
  <body>
        <button type="collapseAll" id="collapseAll">Свернуть всё, кроме первого уровня</button>
        <button type="expandAll" id="expandAll">Развернуть всё</button>

		{% capture foo %}
        {% include list_sections.html %}
		{% endcapture %}
		
        {% include toc.html html=foo id="toc" %}
		{% include anchor_headings.html html=foo anchorBody="#" %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.configure();
    </script>
    
    <script src="linkify.min.js"></script>
    <script src="linkify-html.min.js"></script>
    <script type="text/javascript">
        document.body.innerHTML = linkifyHtml(document.body.innerHTML);
    </script>
    <script src="toc-folding.js"></script>
  </body>
</html>
